.calendar {
  width: 50%;
  padding: 100px 50px;
  max-width: 570px;

  > .header {
    display: flex;
    flex-direction: row;
    align-items: center;
    text-align: center;
    > .md-button, span {
      width: 100%;
    }

    > span {
      font-size: 16px;
    }
  }

  > .body {
    position: relative;
  }

  .weeks {
    width: 100%;
    overflow: hidden;
    text-align: center;
    font-size: 16px;
    font-weight: bold;
  }

  .dates {
    width: 100%;
    overflow: hidden;
    font-size: 16px;
    text-align: center;
    .item {
      position: relative;
      cursor: default;
      > span {
        position: relative;
      }
    }
  }

  .item {
    width: 14.285%;
    float: left;
    line-height: 50px;
    border: 2px solid #f8f8f8;

    &.today {
      border: 2px solid $main-color;
    }

    &.event {
      color: #fff;
      cursor: pointer;
      transition: .3s;
      &:hover {
        background: $main-color;
        border: 2px solid $main-color;
        color: #333;
        &:before {
          background: #fff;
        }
      }
      &:before {
        content: '';
        position: absolute;
        width: 36px;
        height: 36px;
        background: $main-color;
        left: 50%;
        top: 50%;
        margin-left: -18px;
        margin-top: -19px;
        border-radius: 50%;
      }
    }
  }
}

.loading {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  background: rgba(183, 183, 183, 0.15);

  > span {
    text-align: center;
    width: 100%;
  }
}
