.btn_fixed_br, .btn_fixed_bl {
  position: fixed !important;
  bottom: 10px;

  @include media-down(xs) {
    position: relative;
  }
}

.btn_fixed_br {
  right: 10px;
}

.btn_fixed_bl {
  left: 10px;
}

.page {
  max-width: 900px;
  width: 100%;
  margin: 20px auto 0;
  padding: 0 15px;

  > * {
    width: 100%;
  }
}

.pagination {
  text-align: center;
  margin: 10px 0;
}

.btn_width {
  width: 100% !important;
  text-transform: none;
  text-align: left;
}
