body {
  height: 100%;
  background: #f8f8f8;
  @include media-down(sm) {
    height: auto;
  }
}

#app {
  height: 100%;
}

.hide-xs {
  @include media-only(xs) {
    display: none;
  }
}

.md-snackbar.success > .md-snackbar-container {
  background: #222 !important;
}

.snackbar-black {
  .md-snackbar-container {
    background: #323232;
  }

  .md-button {
    color: #ffeb3b;
  }
}
