.btn_fixed_br {
  position: fixed;
  bottom: 10px;
  right: 10px;

  @include media-down(xs) {
    position: relative;
  }
}

.btn_fixed_bl {
  position: fixed;
  bottom: 10px;
  left: 10px;

  @include media-down(xs) {
    position: relative;
  }
}

.page {
  max-width: 900px;
  width: 100%;
  margin: 0 auto;
  padding: 0 15px;

  > * {
    width: 100%;
  }
}

.pagination {
  text-align: center;
  margin: 10px 0;
}
