#login {
  background: #f5f5f5;
  min-height: 0;
}

.auth {
  max-width: 450px;
  margin: 50px auto 20px;
  vertical-align: middle;
  align-items: center;
  height: 100%;
  padding: 20px;
  border: 1px solid #e0e0e0;
  background: #fff;

  h2 {
    text-transform: uppercase;
    text-align: center;
    font-size: 30px;
  }

  .md-checkbox {
    margin-top: 5px;
  }

  .md-input-container:first-child {
    margin-bottom: 10px;
  }

  .md-button {
    display: block;
    margin: 10px 0 0 0;
    width: 100%;
  }
}

.md-snackbar-container {
  background: #f44336;
}
