.page {
  max-width: 1000px;
  margin: 20px auto;
  padding: 20px;
  @include media-down(xs) {
    padding: 10px;
    margin: 0 auto;
  }

  &.action {
    max-width: 500px;
    background: #fff;
    .header {
      display: flex;
      border-bottom: 1px solid #ce2626;
      align-items: center;
      margin-bottom: 20px;
      height: 42px;
      h1 {
        text-transform: uppercase;
        text-align: center;
        margin: 0;
        font-size: 1.4em;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
      }
    }

    &.max {
      max-width: 600px;
    }
  }

  h1 {
    text-transform: uppercase;
    text-align: center;
  }
}

.btn-action {
  width: 100%;
  margin: 20px 0 0;
}
