<!DOCTYPE html>
<html lang="en">
<head>
    {% block head %}
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <title>CRM - {% block title %}{% endblock %}</title>

        <link rel="stylesheet" href="/public/assets/css/font-awesome.min.css">
        <link rel="stylesheet" href="/public/css/prod/auth/style.css">
    {% endblock %}
</head>
<body>

<div class="wrap">
    <div class="inner">
        <div class="container">
            {% block links %}{% endblock %}

            <h1 class="c_title">{{ block('title') }}</h1>

            {% block form %}{% endblock %}

            <div class="c_r">{% block link_r %}{% endblock %}</div>
        </div>
    </div>
</div>

<script src="/public/assets/js/jquery-3.1.1.min.js"></script>
<script src="/public/js/main.js"></script>
</body>
</html>